/*==============================================================
 * version: 1.0
 ==============================================================*/
body {
	padding-top: 70px;
	font-family: 'Roboto', sans-serif;
}

.navbar-inverse {
	background: #337ab7;
}

.navbar-inverse .navbar-brand {
	color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
	color: #fff;
}

.navbar-inverse .navbar-nav>li>a:hover {
	background: #286090;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	background-color: #D9D9D9;
}

.cardview {
	padding: 0;
	border-radius: 3px;
	border: 1px solid #828282;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
}

.cardview h2 {
	margin-top: 30px;
}

.cardview h2,
.cardview p {
	width: 100%;
	text-align: right;
}

.cyclewrap {
	padding-left: 0;
}
